@use '../../scss/' as *;

.header{
    @include flex(center, space-between);
    height: 3rem;
    padding: 2rem 0;
    width: 100%;
    &-logo{
        height: inherit;
        img{
            height:inherit;
            width: auto;
        }
    }
    &-content-account{
        img{
            height: 3rem;
            border-radius: 50%;
            width: auto;
        }
    }
}
